/* div <class="w-full mb-6 sm:w-1/2 sm:px-6">*/

@media (min-width: 640px) {
    .sm\:px-6 {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

.flex {
    display: flex;
}

.max-w-4xl {
    max-width: 66rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.mt-16 {
    margin-top: 4rem;
}

.ab_part_r{margin: unset; }

@media only screen and (max-width: 767px) {
    .ab_part_r {
        order:1
      }
    .ab_part_l {
        order:2
      }
}

.prose ul {
    display: block;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    font-family: Adobe Caslon;
}

.prose ul {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.prose ul>li {
    position: relative;
    /*padding-left: 1.75em;*/
}

.prose ul>li:before {
    content: "";
    position: absolute;
    background-color: #d1d5db;
    border-radius: 50%;
    width: 0.375em;
    height: 0.375em;
    top: 0.6875em;
    left: -1.50em;
}

.prose li {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.prose ol, ul {
    box-sizing: border-box;
    list-style: none;

}

.prose p {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.prose p {
    font-family: Adobe Caslon;
}